
.cluster,
.card,
.icon,
.name,
.load
{
/*    border: 1px solid red*/
}

.CLUSTER
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.CARD {
    width: 200px;
    padding: 10px;
    margin: 6px;
    max-height: 200px;
    background-color: var(--card-background-color);
    border: 1px solid var(--card-border-color);
    border-radius: 4px;
    text-align: center
}
.CARD:hover {
    background-color: var(--card-background-color-hover);
    box-shadow: 0 4px 12px var(--card-shadow-color);
}

.ICON {
    height: 100px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center
}

.NAME {
    text-align: center;
    padding: 10px;
}

a {
    color: var(--body-color);
    text-decoration: none;
}