:root {
    --body-color: #FFF;
    --body-background-color: #242424;
    --a-color: #FFFF00;
    --card-background-color: #2E2E2E;
    --card-background-color-hover: #323232;
    --card-border-color: #3b3b3b;
    --card-shadow-color: rgba(0,0,0,.14);
    --input-color: #FFF;
    --input-border-color: #FFF;
    --input-background-color: #444;
    /* кнопочка в <input type="file"> */
    --input-type-file-selection-button-color: #FFF;
    --input-type-file-selection-button-border-color: #FFF;
    --input-type-file-selection-button-background-color: #444;
    --button-color: #FFF;
    --button-border-colo: #FFF;
    --button-background-color: #444;
}